body {
    background-color: #E4C59E;
}



div {
    margin-bottom: 10px;
    padding: 4px 8px;
  }

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    color: #803D3B;
    font-size: 25px;
}

#heading {
    color: #322C2B;
    text-align: center;
    font-size: 60px;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

.column-heading {
    color: #803D3B;
    text-decoration-line: underline ;
    text-align: center;
    font-size: 40px;
    font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.gs-image {
    text-align: center;
}

.project-goal {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
      color: #803D3B;
      font-size: 25px;
}

.analysis-findings {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    color: #803D3B;
    font-size: 25px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    color: #151515;
  } 

  .contactcards {
    text-align: center;
  }

  a {
    
    text-decoration: none;
  }